.navbar {
  background-color: var(--white);
  width: 100%;
  height: 100px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  user-select: none;
  z-index: 50;
}

.menuLink {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  transition: all var(--transition);
  position: relative;
  letter-spacing: 0.1em;
}

.menuLink::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--light-blue);
  transition: width var(--transition);
}

.menuLink:hover::before {
  width: 100%;
}

.menuLink:focus {
  color: var(--light-blue);
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.desktopMenu {
  display: none;
}

@media (min-width: 768px) {
  .desktopMenu {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.burgerIcon {
  display: block;
  color: black;
  cursor: pointer;
}

@media (min-width: 768px) {
  .burgerIcon {
    display: none;
  }
}

.mobileMenu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}

/* Dropdown Styles */

.dropdownContainer {
  position: relative;
}

.dropdownButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: var(--black);
  position: relative;
  letter-spacing: 0.1em;
  transition: all var(--transition);
  padding: 0.25rem 0;
}

.dropdownButton::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--light-blue);
  transition: width 0.1s ease;
}

.dropdownButton:hover::before {
  width: 100%;
}

.dropdownMenu {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: var(--white);
  border: 1px solid #ccc;
  padding: 0.5rem 0;
  display: none;
  flex-direction: column;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdownContainer:hover .dropdownMenu {
  display: flex;
}

.dropdownMenu li {
  padding: 0.5rem 1rem;
}



