.link {
    all: unset;
    color: var(--black);
    font-size: 30px;
    font-weight: 700;
    cursor:pointer;
    transition: color var(--transition);

    &:hover{
        color: var(--dark-blue);
    }
}
.caller{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}
.callIcon{
    background: var(--dark-blue);
    width:60px;
    height:60px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left:0;
    top:0;
}